::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.headnav {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    padding: 1% 8% 2% 8%;
    align-items: center;
}

.nav,
.icons {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
}

.nav li,
.icons li {
    list-style-type: none;
}

.nav li a,
.icons li a {
    font-size: 20px;
    text-decoration: none;
    color: black
}

.icons {
    gap: 30px;
}

/* PRODUCT */

.product-data-size {
    padding: 20px 0px;
  }
  
  .size {
    padding: 10px 20px;
    border: none;
    background: #fff;
    margin-right: 5px;
  }
  
  button.size.active {
    border: 1px solid #000;
    border-radius: 50%;
  }
  
  img.active {
    border: 1px solid #000;
  }
  
  .card {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.23), 0 2px 2px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
  }
  
  .img-card {
    width: 215px;
    margin-right: 10px;
  }
  
  .product-data-list {
    height: auto;
    line-height: 1;
  }
  
  .product-name, .product-price {
    font-size: 16px;
    font-weight: 400;
    color: #222;
    line-height: 18px;
  }
  
  .product-name {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }
  
  .bgShearch {
    background-color: #a5abaf;
    color: #ffffff;
  }
  
  a {
    color: #222;
  }

  
.prefooter{
    background: url(../images/cover.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 120vh;
    margin-top: 5%;

}

.footerGray{
    background-color: #1D1D1D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 5%;
}

.footerGray img{
    width: 20%;
}

.footerGray ul{
    display: flex;
    margin: 0 auto;
    gap: 20px;
    margin-top: 5%;
}

.footerGray ul li{
    list-style-type: none;
}

.footerGray ul li a{
    color: white;
    font-size: 20px;
    
}